
<link rel="stylesheet" href="style.css">
<footer>
    <h1>
        copyright c blog ninja
        <span class="current_year">

        </span>
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eius consequatur sed debitis sapiente qui expedita nihil modi nemo. Impedit quam animi doloribus dolore sequi sapiente quidem, laboriosam unde aut.
    </h1>




</footer>
<script type="text/javascript">
    document.querySelector(".current-year")
    .textContent= newData().getFullYear();

</script>