<link rel="stylesheet" href="style.css">
<header>
    <div  class="top_header">
        <h1> blog ninja</h1>

    </div>
    <div class="logo" style="height: 30px; color: blue;">
        <h1>
            
        </h1>

    </div>
    <nav>
        <ul>
            <li>
                <a href="/">blogs</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/new_blog">newblog</a>
            </li>
        </ul>
    </nav>




</header>